.error
{
	height: 100vh;
}

.container-error
{
	flex-direction: column;
}

.error-code
{
	font-size: 6rem;
	color: var(--color-green);

	text-align: center;
	text-shadow: 0 0 10px var(--color-green), 0 0 20px var(--color-green);
}

.error-message
{
	font-size: 1.2rem;
	color: var(--color-text-secondary);

	margin-top: 1rem;
}

.error-btn
{
	font-size: 1rem;

	margin-top: 1.5rem;

	display: inline-block;
}
