.project-card
{
	border-radius: 15px;

	display: flex;
	flex-direction: column;
}

/*
 *
 * Img
 *
 */
.project-img-container
{
	width: 100%;
	height: auto;
	min-height: 200px; /* Ensures that the container is taking up space, even if an image does not exist inside */

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	margin-bottom: 1rem;

	background-color: rgb(63, 63, 63);
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-img
{
	width: 100%;
	height: 100%;

	object-fit: cover;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*
 *
 * Content
 *
 */
.project-content
{
	padding: 0 20px;

	display: flex;
	flex-direction: column;
	flex: 1; /* Take up additional space to push the CTAs to the bottom of the project card */
	gap: 1rem;
}

/*
 * Title
 */
.project-title
{
    font-size: 1rem;
	color: var(--color-section-header);
}

/*
 * Tagline
 */
.project-tagline
{
    font-size: 0.8rem;
    color: #ddd;
}

/*
 * Date
 */
.project-date
{
	font-size: 0.7rem;
}


/*
 * Technologies
 */
.project-tech
{
    display: flex;

	flex-wrap: wrap;

    gap: 0.5rem;
}

.project-tech-item
{
	font-size: 0.75rem;
	font-weight: 800;
	color: var(--color-project-tech-text);

	padding: 5px 10px;

	border-radius: 5px;
	border: 1px solid var(--color-project-tech-border);
}

/*
 * CTAs
 */
.project-cta-container
{
    display: flex;
    justify-content: center;

    gap: 10px;

	margin-top: 1rem; /* Add space between content and CTAs */

	padding: 0 20px 20px;
}
