:root
{
	--color-green: rgb(60, 178, 92);
	--color-text: #f4f4f9;
	--color-nav: rgb(20, 20, 20);
	--color-gray-1: rgb(20, 20, 20);

	--color-section-background: #1a1a1a;

	--color-link: rgb(60, 178, 92);;
	--color-link-hover: #fff79d;

	--color-button: #28a745;
	--color-button-hover: #007bff;
}

*
{
	margin: 0;

	padding: 0;

	box-sizing: border-box;

	font-family: sans-serif;
}

html
{
	scroll-behavior: smooth;
}

body
{
    transition: background-color 0.5s;

	overflow-x: hidden;

	background-color: var(--color-gray-1);

	color: var(--color-text);

	letter-spacing: 2px;
}

header
{
	background-color: var(--color-section-background);
}

a
{
	color: var(--color-text);
}
