:root
{
	--color-green: rgb(60, 178, 92);

	--color-text: #f4f4f9;
	--color-nav: rgb(20, 20, 20);
	--color-gray-1: rgb(20, 20, 20);

	--color-section-background: #1a1a1a;
	--color-section-header: rgb(76, 175, 80);

	--color-link: rgb(60, 178, 92);
	--color-link-hover: #fff79d;

	--color-button: #28a745;
	--color-button-hover: #007bff;

	--color-pill-btn-border: rgb(76, 175, 80);
	--color-pill-btn-text: rgb(76, 175, 80);

	--color-pill-btn-bg-hover: rgb(76, 175, 80);
	--color-pill-btn-bg-hover-text: #f4f4f9;

	--color-glassmorphism-border: rgba(106, 255, 153, 0.3);
	--color-glassmorphism-border-hover: rgba(106, 255, 153, 0.5); /* Slightly brighter */

	--color-glassmorphism-bg: rgba(211, 198, 198, 0.1);
}

*
{
	margin: 0;

	padding: 0;

	box-sizing: border-box;

	font-family: sans-serif;
}

html
{
	scroll-behavior: smooth;
}

body
{
    transition: background-color 0.5s;

	overflow-x: hidden;

	background-color: var(--color-gray-1);

	color: var(--color-text);

	letter-spacing: 2px;

	line-height: 1.5;
}

header
{
	background-color: var(--color-section-background);
}

a
{
	color: var(--color-text);
}

section
{
	padding: 3rem 0;
}

.container
{
	max-width: 1200px;

	padding: 1.5rem; /* Ensures that there is horizontal spacing even if the width is smaller than max-wdith */

	margin: 0 auto;
}

.section-header
{
	text-align: center;

	font-size: 2.3rem;
	color: var(--color-section-header);
	font-weight: 800;

	margin-bottom: 2rem;
}

.link-btn
{
	text-decoration: none; /* Remove all the underlines for the anchor tags */
}

.glassmorphism
{
	background: var(--color-glassmorphism-bg);

	backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);

	box-shadow:
		0 4px 6px rgba(255, 255, 255, 0.2), /* closer to border */
		0 8px 15px rgba(255, 255, 255, 0.1); /* further from border */

	border: 3px solid var(--color-glassmorphism-border);

	transition: all 0.4s ease-in-out;
}

.glassmorphism:hover
{
	box-shadow:
		0 8px 15px rgba(255, 255, 255, 0.3),  /* Light outer shadow (brighter) */
		0 16px 25px rgba(255, 255, 255, 0.15); /* Deeper (more spread-out) shadow with soft white glow */

	border: 3px solid var(--color-glassmorphism-border-hover);

	transform: translateY(-5px);
}

@media only screen and (max-width: 768px)
{
	.container
	{
		padding: 0 15px;
	}

	.section-header
	{
		font-size: 30px;
	}
}
